@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 500%;
    z-index: 0;
  }
  
  .gif-iframe {
    width: 500%;
    height: 500%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  